DICTIONARY

In [1]:
car= {"brand": "BMW" , "model":"ix","year" : 1964}
print(car)

{'brand': 'BMW', 'model': 'ix', 'year': 1964}

In [2]:
car1 = {'brand': 'BMW' ,  'model': 'X5' , 'year': 2015}
print(car1)

{'brand': 'BMW', 'model': 'X5', 'year': 2015}

In [3]:
car1 = {'brand': 'BMW' ,  'model': 'X5' , 'year': 2015}
print(len(car1))

3

In [4]:
car1 = {'brand': 'BMW' ,  'model': 'X5' , 'year': 2015}
print(type(car1))

<class 'dict'>

In [6]:
car1 = {'brand': 'BMW' ,  'model': 'X5' , 'year': 2003 , 'year': 2000}
print(car1)

{'brand': 'BMW', 'model': 'X5', 'year': 2000}

In [14]:
car1 = {'brand': 'BMW' ,  'model': 'X5' , 'year': 2015}
x= car1.get("model")
print(x)

X5

In [5]:
car1.keys()

dict_keys(['brand', 'model', 'year'])

In [8]:
car1.values()

dict_values(['BMW', 'X5', 2015])

In [15]:
car1["year"] = 2020
car1.values()

dict_values(['BMW', 'X5', 2020])

In [16]:
car1["colour"]="white"
car1.values()

dict_values(['BMW', 'X5', 2020, 'white'])

In [3]:
d3={"name":"A","year":2023,"pass":True,"marks":[50,60,70]}
print(d3)
print(type(d3))

{'name': 'A', 'year': 2023, 'pass': True, 'marks': [50, 60, 70]}
<class 'dict'>

In [23]:
d3.update({"year" : 2024})
print(d3)

{'name': 'A', 'year': 2024, 'pass': True, 'marks': [50, 60, 70]}

In [41]:
d3['phone'] = 9856
print(d3)

{'name': 'A', 'year': 2024, 'pass': True, 'phone': 9856}

In [37]:
d3.pop("phone")

9856

In [38]:
d3.popitem()

('marks', [50, 60, 70])

In [39]:
d3.pop()

TypeError: pop expected at least 1 argument, got 0

In [46]:
del d3['marks']
d3

{'name': 'A', 'year': 2023, 'pass': True}

In [2]:
del d3
d3

NameError: name 'd3' is not defined

In [4]:
d3.clear()

In [5]:
d3

{}

In [6]:
d3={"name":"A","year":2023,"pass":True,"marks":[50,60,70]}
print(d3)

{'name': 'A', 'year': 2023, 'pass': True, 'marks': [50, 60, 70]}

In [9]:
d4 =d3
d4=d3.copy()
d4

{'name': 'A', 'year': 2023, 'pass': True, 'marks': [50, 60, 70]}

In [11]:
d5 = dict(d4)
d5

{'name': 'A', 'year': 2023, 'pass': True, 'marks': [50, 60, 70]}

In [13]:
d6 =d4
print(d4)
print(d5)
print(d6)

{'name': 'A', 'year': 2023, 'pass': True, 'marks': [50, 60, 70]}
{'name': 'A', 'year': 2023, 'pass': True, 'marks': [50, 60, 70]}
{'name': 'A', 'year': 2023, 'pass': True, 'marks': [50, 60, 70]}

nested dict

In [27]:
myfamily = {
    "child1": {      "name" : "suneet",      "year" : 2004  },
    "child2": {      "name" : "sahil",       "year" : 2007  },
    "child3": {      "name" : "nitin",       "year" : 2011  }

}

In [24]:
print(myfamily["child2"])

{'name': 'sahil', 'year': 2007}

In [26]:
print(myfamily["child2"]["name"])

sahil